<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Jetfire</title>

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/simple-sidebar.css">

  </head>

  <body>
    <div id="wrapper">
      <!-- sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="/"><b>JetFire</b></a></li>
          <li><a href="#hosts">Hosts</a></li>
          <li><a href="#groups">Groups</a></li>
        </ul>
      </div>
      <!-- #/sidebar -->
      <!-- content-wrapper -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="page"></div>
          <!-- add host -->
            <script type="text/template" id="addhost-template">
              <form role="form" class="add-host-form">
                <legend>Add host</legend>
                <div class="form-group">
                  <label>Hostname</label>
                  <input class="form-control" type="text" name="hostname" id="hostname" />
                </div>
                <div class="form-group">
                  <label>Select group(s)</label>
                  <select class="form-control" type="text" multiple="multiple" name="groups" id="groups">
                  <% _.each(groups, function(grouplist) { %>
                  <% console.log(grouplist.get('groups')) %>
                  <% var array = grouplist.get('groups') %>
                  <% for(var i = 0; i < array.length; i++) { %>
                  <option value="<%= array[i] %>"><%= array[i] %></option>
                  <% } %>
                  <% }); %>
                </select>
                </div>
                <div class="form-group">
                  <label>Host variables</label>
                  <textarea class="form-control" type="textarea" style="height: 200px" name="hostvars" id="hostvars"/>
                </div>
                <button type="submit" id=addhost-btn class="btn btn-default">Create host</button>
              </form>
            </script>
          <!-- #/add host -->
          <!-- Host list -->
            <script type="text/template" id="host-list-template">
              <a href="#addhost" class="btn btn-primary">Add Host</a>
              <hr />
              <table class="table striped">
                <thead>
                  <tr>
                    <th><b>Hosts</b></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- fetch hosts JSON and loop over items in hosts -->
                  <% _.each(hosts, function(hostlist) { %>
                  <% var array = hostlist.get('hosts') %>
                  <% for(var i = 0; i < array.length; i++) { %>
                    <tr>
                      <td><%= array[i] %></td>
                      <td>
                        <form role="form" class="remove-host">
                        <button class="btn btn-danger btn-small" onclick="window.location.href='#hosts/<%= array[i] %>'">
                        <li class="glyphicon glyphicon-trash"></li></button>
                      </form>
                      </td>
                    </tr>
                  <% } %>
                  <% }); %>
                </tbody>
              </table>
            </script>
          <!-- #/end host list -->
          <!-- add group -->
            <script type="text/template" id="addgroup-template">
              <form role="form" class="add-group-form">
                <legend>Add Group</legend>
                <div class="form-group">
                  <label>Groupname</label>
                  <input class="form-control" type="text" name="groupname" id="groupname" />
                </div>
                <div class="form-group">
                  <label>Select host(s)</label>
                  <select class="form-control" type="text" multiple="multiple" name="hosts" id="hosts">
                  <% _.each(hosts, function(hostlist) { %>
                  <% console.log(hostlist.get('hosts')) %>
                  <% var array = hostlist.get('hosts') %>
                  <% for(var i = 0; i < array.length; i++) { %>
                  <option value="<%= array[i] %>"><%= array[i] %></option>
                  <% } %>
                  <% }); %>
                </select>
                </div>
                <div class="form-group">
                  <label>Group variables</label>
                  <textarea class="form-control" type="textarea" style="height: 200px" name="groupvars" id="groupvars"/>
                </div>
                <button type="submit" id=addgroup-btn class="btn btn-default">Create Group</button>
              </form>
            </script>
          <!-- #/add group -->
          <!-- Group list -->
            <script type="text/template" id="group-list-template">
              <a href="#addgroup" class="btn btn-primary">Add Group</a>
              <hr />
              <table class="table striped">
                <thead>
                  <tr>
                    <th><b>Groups</b></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- fetch hosts JSON and loop over items in hosts -->
                  <% _.each(groups, function(groupslist) { %>
                  <% var array = groupslist.get('groups') %>
                  <% for(var i = 0; i < array.length; i++) { %>
                    <tr>
                      <td><%= array[i] %></td>
                      <td>
                        <form role="form" class="remove-group">
                        <button class="btn btn-danger btn-small" onclick="window.location.href='#groups/<%= array[i] %>'">
                        <li class="glyphicon glyphicon-trash"></li></button>
                      </form>
                      </td>
                    </tr>
                  <% } %>
                  <% }); %>
                </tbody>
              </table>
            </script>
          <!-- #/end grouplist -->
        </div>
      </div>
      <!-- #/content-wrapper -->

    </div>
    <!-- main wrapper -->


    <script src="static/libs/underscore-min.js"></script>
    <script src="static/libs/jquery-1.11.2.js"></script>
    <script src="static/libs/backbone-min.js"></script>

    <script src="static/backbone_jetfire.js"></script>

    <script src="static/libs/bootstrap.min.js"></script>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>

</html>
