body {
  font-family: arial;
  color:#3E4349;
}

#nav {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 10em;
}

#content {
  margin-left: 10em;
}

td {
    font-size:0.7em;
    padding:20px;
}

.tablewidth {
    width: 300px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
