{% extends "base.html" %}
{#{% extends "gethost.html" %}#}

{% block body %}
{#{% block action %}#}
<!--<script src="/static/jquery-1.4.4.min.js"></script>-->
<script type="text/javascript">
$(function() {
    var addDiv = $('#addvarinput');
    var i = $('#addvarinput p').size() + 1;

$('#addNew').live('click', function() {
    //$('<p><input type="text" id="p_new" name="pnew' + 1 +'" value="" placeholder="add Ansible var" /><a href="#" id="remNew">Remove</a> </p>').appendTo(addDiv);
    $('<p><input type="text" id="p_new" name="pnew" value="" placeholder="add Ansible var" /><a href="#" id="remNew">Remove</a> </p>').appendTo(addDiv);
i++;

return false;
});

$('#remNew').live('click', function() {
if( i > 2 ) {
$(this).parents('p').remove();
i--;
}
return false;
});
});
</script>
<div class="col-md-6">
<!-- Flash message when host has been added -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
<pre>
{{ message }}
</pre>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form class="form form-horizontal" action="{{url_for('addhost')}}" method="post">
  <h3>Add host</h3>
  <!-- text input -->
    <div class="form-group">
      <div class="col-md-6">
        <label for="hostname">FQDN of the hostname</label>
    {#<form action="{{url_for('addhost')}}" method="post">#}
        <input id="hostname" class="form-control" type="text" name="add_host" placeholder="Host's FQDN"/>
        {#<div id="addvarinput">
        <!--<input type="text" id="p_new" name="pnew" value=""
        placeholder="Ansible var" /><a href="#" id="addNew">Add</a></p>-->
        </div>#}
     </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <label for="groupselect">Select group(s)</label>
        <!-- Multiple group select build from available ansible groups -->
        <select id="groupselect" class="form-control" name="selectedgroups" multiple="multiple">
            {% for item in groups %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <label for="hostvars">Host variables</label>
        <textarea class="form-control" id="h_yaml" name="hyaml"
        style="height: 200px"></textarea>
      </div>
    </div>
        <input class="btn btn-primary" type="submit" value="Add host" />
    </form>
</div> <!-- end col md-6 -->

<!-- Flash message when host has been added -->
{#    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
<pre>
{{ message }}
</pre>
            {% endfor %}
        {% endif %}
    {% endwith %}
#}
{% endblock %}



