{% extends "gethost.html" %}

{% block action %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Results:
            <pre>
            {% for message in messages %}
{{ message }}
            {% endfor %}
            </pre>
        {% endif %}
    {% endwith %}


<p>
{% if res is none %}
    <pre>None</pre>
{% else %}

<form class="form form-horizontal" action="{{url_for('edithostsubmit')}}" method="post">
  <h3>Host : {{ host }} </h3>
      <input type="hidden" name="p_get2" value="{{ host }}"/>
  <div class="form-group">
    <div class="col-md-6">
      <label for="hostvars">Variables</label>
      <textarea class="form-control" type="area" name="ehyaml" value="" style="height:200px">{% if result %}{{result}}{% endif %}</textarea>
    </div>
  </div>

    <select  id="groupselect" name="groupselect" multiple="multiple">
    {% if groups %}
    {% for item in groups %}
        <option value="{{ item }}" selected>{{ item }}</option>
    {% endfor %}
    {% endif %}
    {% if available_groups %}
    {% for item in available_groups %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
    {% endif %}
    </select></br>
    </div>
  </div>

<input class="btn btn-primary" type="submit" value="Edit host" name="edithostBTN" />
</form>

{% endif %}

<script type="text/javascript">
$('#groupselect').multiSelect({selectableHeader: "<b>Available groups</b>",selectionHeader: "<b>Current groups</b>"});
</script>

{% endblock %}

