{#{% extends "base.html" %}  #}
{% extends "getgroup.html" %}


{#{% block body %}#}
{% block action %}
{#
<h2> Edit group </h2>
<form action="{{url_for('editgroup')}}" method="post">
    <input type="text" name="group_get" />
    <input type="submit" value="Get group" name='submitBTN'/>
</form>
#}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
<pre>
{{ message }}
</pre>
        {% endfor %}
    {% endif %}
{% endwith %}



<form class="form form-horizontal" action="{{ url_for('editgroupsubmit')}}" method="post">

    <h3>Group : {{ group }} </h3>
    <input type="hidden" name="group_get2" value="{{ group }}"/>
    <div class="form-group">
      <div class="col-md-6">
    {#<b>Ansible vars:</b></br>#}
        <label for="groupvars">Variables</label>
        <textarea class="form-control" type="area" name="egyaml" value="" style="height:200px">{{result}}</textarea>
      </div>
    </div>

    <!--<table><tr><td><b>Available hosts</b></td><td
    style="text-align:left;"><b>Current hosts</b></td></tr></table>-->
    <select id="hostselect" name="hostselect" multiple="multiple">
        {% for item in hosts %}
        ¦   <option value="{{ item }}" selected>{{ item }}</option>
        {% endfor %}
        {% for item in available_hosts %}
        ¦   <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select></br>

    <input class="btn btn-primary" type="submit" value="Edit Group" name="edithostBTN" />
</form>



<!-- javascript -->
<script type="text/javascript">
$('#hostselect').multiSelect({selectableHeader: "<b>Available hosts</b>",selectionHeader: "<b>Current hosts</b>"});
</script>

{% endblock %}
