{% extends "base.html" %}


{% block body %}

    <h2> Edit Host Settings </h2>
    <form action="{{url_for('edithost')}}" method="post">
    <input type="text" name="p_get" />
    <input type="submit" value="Get host" name='submitBTN'/>
    </form>



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Results:
            <pre>
            {% for message in messages %}
{{ message }}
            {% endfor %}
            </pre>
        {% endif %}
    {% endwith %}


<p>
{# do net iterate if no list with ansible vars is returned #}
{% if res is none %}
    <pre>None</pre>
{% else %}

<form action="{{ url_for('edithostsubmit')}}" method="post">

<h3>Host : {{ host }} </h3>
<input type="hidden" name="p_get2" value="{{ host }}"/>

<b>Ansiblevars :</b><br>
{# get the ansible vars #}
    <textarea type="area" name="ehyaml" value="" style="width:300px;height:200px">{{result}}</textarea><br>
</p>

{# get the groups #}
<p>
<b>Groups :</b><br>
{#{% if groups %}#}
<!--<form>-->
    <select id="groupselect" name="groupselect" multiple="multiple">
    {% for item in groups %}
        <option value="{{ item }}" selected>{{ item }}</option>
    {% endfor %}
    {% for item in available_groups %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
    </select></br>
<!--</form>-->
{#
{% else %}
    <pre> none </p>
{% endif %}
#}
</p>

<!--<form action="{{url_for('edithostsubmit')}}" method="post">-->
<input type="submit" value="Edit host" name="edithostBTN" />
</form>

{% endif %}

<!-- javascript -->
<script type="text/javascript">
$('#groupselect').multiSelect();
</script>

{% endblock %}

