{% extends "base.html" %}

{% block body %}

<div class="row">
<div class="col-md-6">

{# message box #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
<pre>
{{ message }}
</pre>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="form-inline">
          <form action="{{url_for('gethostinfo')}}" method="get">
          <input type="text" name="q">
          <button class="btn btn-info btn-small" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          <div class="btn-group pull-right">
            <a class="btn btn-info btn-small" href="{{url_for('addhost')}}"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="btn btn-default btn-small" href="{{url_for('getallhosts')}}"><i class="glyphicon glyphicon-circle-arrow-down"></i></a>
          </div>
          </form>
        </div>

{% if hostname %}
<table class="table">
  <tr>
    <th class="tablewidth">Hostname</th>
    <th>Groups</th>
    <th></th>
  </tr>
  <tr>
    <td><b>{{ hostname }}</b></td>
    <td>
<ul>{% for item in groupres %}
    <li>{{ item }}</li>
{% endfor %}
</ul>
    </td>
    <td>
    <div class="btn-group pull-right">
      <form action="{{url_for('edithost')}}" method="post">
      <input type="hidden" name="p_get" value="{{ hostname }}">
      <button class="btn btn-info btn-small" type="submit" name='submitBTN'><i class="glyphicon glyphicon-pencil"></i></button>
      </form>
      <form action="{{url_for('remove')}}" method="post">
      <input type="hidden" name="removehost" value="{{ hostname }}" />
      <button id="btnConfirmDelete" class="btn btn-danger btn-small"  type="button" data-toggle="modal" data-target="#confirmDelete" data-modal-title="Delete Host"  data-modal-text="Are you sure you want to delete {{ hostname }}?"><i class="glyphicon glyphicon-trash"></i></button>
      </form>
    </div><!--end button group -->
      </td>
    </tr>
</table>
{% endif %}


{% if allhosts %}
    {% if pagination %}
        {{ pagination.links|safe}}
    {% endif%}
<table class="table">
  <tr>
    <th class="tablewidth">Hostname</th>
    <th>Groups</th>
    <th></th>
  </tr>
{% for host, groups in allhosts.iteritems() %}
  <tr>
    <td><b> {{ host }} </b></td>
    <td> <ul>{% for item in groups %} <li>{{ item }}</li> {% endfor %}</ul></td>
    <td>
      <div class="btn-group pull-right">
        <form action="{{url_for('edithost')}}" method="post">
        <input type="hidden" name="p_get" value="{{ host }}" />
        <button class="btn btn-info btn-small" type="submit" name='submitBTN'><i class="glyphicon glyphicon-pencil"></i></button>
        </form>
        <form action="{{url_for('remove')}}" method="post">
        <input type="hidden" name="removehost" value="{{ host }}" />
        <button id="btnConfirmDelete" class="btn btn-danger btn-small"  type="button" data-toggle="modal" data-target="#confirmDelete" data-modal-title="Delete Host"  data-modal-text="Are you sure you want to delete {{ host }}?"><i class="glyphicon glyphicon-trash"></i></button>
        </form>
      </div><!-- end button group -->
    </td>
{% endfor %}
</tr>
</table>
    {% if pagination %}
        {{ pagination.links|safe }}
    {% endif%}
{% endif %}

<div class="row">
  <div class="col-md-6">
    {% block action %}

    {% endblock %}
  </div>
</div>


{% endblock %}