{% extends "base.html" %}

{% block body %}

<div class="row">
<div class="col-md-6">

{# message box #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
<pre>
{{ message }}
</pre>
            {% endfor %}
        {% endif %}
    {% endwith %}

{#<div class="panel panel-default">#}
{#    <div class="panel-heading">#}
{# search form #}
{# class="navbar-form navbar-left" #}
    {#<div class="row">#}
        <div class="form-inline">
          <form action="{{url_for('gethostinfo')}}" method="post">
          <input type="text" name="p_get">
          <button class="btn btn-info btn-small" type="submit"
          name='submitBTN'><i class="glyphicon glyphicon-search"></i></button>
          <div class="btn-group pull-right">
            <a class="btn btn-info btn-small" href="{{url_for('addhost')}}"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="btn btn-default btn-small" href="{{url_for('getallhosts')}}"><i class="glyphicon glyphicon-circle-arrow-down"></i></a>
          </div>
          </form>
        </div>
      {#</form>#}
    {#</div>#}
    {#</div> #}

{# search box result #}
{% if hostname %}
<table class="table">
  <tr>
    <th>Hostname</th>
    <th>Groups</th>
    <th></th>
  </tr>
  <tr>
    <td>{{ hostname }}</td>
    <td>
{% for item in groupres %}
    {{ item }} 
{% endfor %}
    </td>
    <td>
    <div class="btn-group pull-right">
      <form action="{{url_for('edithost')}}" method="post">
      <input type="hidden" name="p_get" value="{{ hostname }}">
      <button class="btn btn-info btn-small" type="submit" name='submitBTN'><i class="glyphicon glyphicon-pencil"></i></button>
      </form>
      <form action="{{url_for('remove')}}" method="post">
      <input type="hidden" name="remove" value="{{ hostname }}">
      <button class="btn btn-danger btn-small" type="submit" name='submitBTN'><i class="glyphicon glyphicon-trash"></i></button>
      </form>
      </td>
    </div><!--end button group -->
{% endif %}
</tr>
</table>

{# all hosts button #}
{% if allhosts %}
<table class="table">
  <tr>
    <th>Hostname</th>
    <th>Groups</th>
    <th></th>
  </tr>
{% for host, groups in allhosts.iteritems() %}
  <tr>
    <td><b> {{ host }} </b></td> 
    <td> {% for item in groups %} {{ item }} {% endfor %}</td>
    <td>
      <div class="btn-group pull-right">
        <form action="{{url_for('edithost')}}" method="post">
        <input type="hidden" name="p_get" value="{{ host }}" />
        <button class="btn btn-info btn-small" type="submit" name='submitBTN'><i class="glyphicon glyphicon-pencil"></i></button>
        </form>
        <form action="{{url_for('remove')}}" method="post">
        <input type="hidden" name="remove" value="{{ host }}" />
        <button class="btn btn-danger btn-small" type="submit" name='submitBTN'><i class="glyphicon glyphicon-trash"></i></button>
        </form>
      </div><!-- end button group -->
    </td>
{% endfor %}
{% endif %}
</tr>
</table>
{#</div>#}

<div class="row">
  <div class="col-md-6">
    {% block action %}

    {% endblock %}
  </div>
</div>


{% endblock %}

