{% extends "base.html" %}

{% block body %}

<!-- Flash message when host has been added -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
<pre>
{{ message }}
</pre>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h3>Remove Items from inventory</h3>

<div class="col-md-6">
<form class="form form-horizontal" action="{{ url_for('remove')}}" method="post">
{#<form action="{{url_for('remove')}}" method="post">#}
  <div class="form-group">
    <label for="groupvars">Select host(s) to remove</label>
    {#Select host(s) to remove:</br>#}
        <select class="form-control" name="selectedhostsremove" multiple="multiple" style="height:300px">
            {% for item in allhosts %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
  </div>
  <div class="form-group">
    <label for="removegroups">Select group(s) to remove<</label>
    {#Select group(s) to remove</br>#}
        <select class="form-control" id="removegroups" name="selectedgroupsremove" multiple="multiple" style="height:300px">
            {% for item in allgroups %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Remove">
  </div>
</form>
</div><!-- end col-md-6 -->


{% endblock %}



